name: my_etl_job

on:
  workflow_dispatch:

jobs:
  trigger-glue-job:
    runs-on: ubuntu-latest

    env:
      INPUT_PATH: "s3://fin-platform-raw-dev/raw/customers/customers.csv"
      OUTPUT_PATH: "s3://fin-platform-raw-dev/curated/customer_transactions/"
      DATABASE: "my_glue_database"
      TABLE: "customers"
      REGION: "us-east-1"
      GLUE_JOB_NAME: "my_glue_job"
      FILLNA_CUSTOMER_NAME: "Unknown"
      FILLNA_EMAIL: "Unknown"

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          pip install boto3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.REGION }}

      - name: Trigger Glue Job
        run:  python assignment.py