name: my_etl_job

on:
  workflow_dispatch:

jobs:
  run-glue-job:
    runs-on: windows-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          pip install boto3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

          input_path: "s3://fin-platform-raw-dev/raw/customers/customers.csv"
output_path: "s3://fin-platform-raw-dev/processed/customers/"
database: "my_glue_database"
table: "customers"
region: "us-east-1"

      - name: Run Glue Trigger Script
        run: python assignment.py
